/* src/index.css */
@import 'tailwindcss';

input, button, select, textarea {
    border: 1px solid black;
}

@theme{
    --color-primary: #800000;
    --color-secondary: #01c9bf;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}